@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-green-800 min-h-screen;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.slide-enter {
    animation: slideIn 0.5s forwards;
}

.slide-exit {
    animation: slideOut 0.5s forwards;
}
